@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>WelCome by Muhammmad Rehman <a href="https://main--portfolio-muhammad-rehman.netlify.app/">building Web apps with ASP.NET Core</a>.</p>
</div>
